.heading {
  background-color: #0098db;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sub-heading {
  display: flex;
  color: white;
  font-size: small;
}

.heading-dash {
  padding: 10px 0px;
}

.social-media {
  display: flex;
}

i {
  padding: 10px 20px;
}

.heading-name {
  padding: 10px;
}
