.navbar{
    background-color: rgb(130, 183, 49);
    width: fit-content;
}

.navbar ul{
    overflow: auto;
    
}

.navbar li{
    float: left;
    list-style: none;
    padding: 3px 3px;

    color: white;
    font-size: 20px;
    margin-right: 40px;
    text-align: center;
}